
body{
 
    padding-top: 85px;
    font-family: 'Poppins', sans-serif; 
    background-color: white; 
    color: #333; 
    flex-direction: column;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.ejercicio-container{
    
    display: flex;
    flex-direction: column;
    gap: 20px; 
    padding: 20px;
    margin-bottom: 30px;
    width: 900px;
    background-color: #f4f4f4;
    border-radius: 15px;
    align-items: center;         
    /* background-color: #dcdcdc #f4f4f4; */
}

.navbar{
    
    position: fixed;
    display: flex;
    border-radius: 15px;
    height: 55px;
    color: whitesmoke;
    background: linear-gradient(to right, #ff5733, #c70039);
    padding: 15px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo{
    
    color: whitesmoke;
}

.exercise-input {
    
    width: 250px;
}
.input{
    
    width: 250px;
}

.footer-bar {
    
    display: flex;
    height: 55px;
    color: whitesmoke;
    background: linear-gradient(to right, #ff5733, #c70039);
    padding: 15px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    justify-content: center; 
}

.footer-bar nav ul {
    
    list-style-type: none;
}

.footer-bar nav ul li a {
    
    color: white;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.footer-bar nav ul li a:hover {
    
    text-decoration: underline;
}

.resultado-container:empty {
    
    border: none;
}

.resultado-container:not(:empty){
    
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: green;
    padding: 5px 10px;          
    border-radius: 10px;        
    border: 2px solid blue;
    margin-top: 10px;   
}

.form-group-input {
    
    margin-top: 20px;
}
